# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/

# Virtual env
.venv/
env/
venv/

# Build
build/
dist/

# Coverage / tests
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# NetCDF / data
*.nc
*.h5
*.zarr

# Local config overrides
# *l1b_config*.yaml
# *l1c_config*.yaml

# filesystem 
.nfs*

# Editor temp files
*.swp
*.swo
*~

# Production
*/production_reports/
*/l1c_production_reports/